* {
    box-sizing: border-box;
}
body {
    text-align: center;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
section {
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);justify-content: center;
    margin: 0 auto; 
    width: 50vh;
    height: 50vh; 
}
div {
    display: flex;
    justify-content: center;
    border: 1vh solid maroon;
}


