* {
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: lightgray;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

section {
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin: 0 auto; 
    width: 50vh;
    height: 50vh;
    font-size: large; 
    font-weight: bold;

}

div {
    display: flex;
    justify-content: center;
    border: 5px dashed blue;
}


