* {
    box-sizing: border-box;
}
body {
    text-align: center;
    background-image: url("/Users/macbookpro/sei/projects/unit-1-project/images/retro-pic.jpg ");
    background-size: 100%;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

h1{
    color: lightgray;
}

section {
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto; 
    width: 50vh;
    height: 50vh;
    font-size: large; 
    font-weight: bold;
}

div {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    color: white;
}

button:hover {
    border-top: 1px solid #96d1f8;
    background: #82c2ed;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c56d6), to(#82c2ed));
    background: -webkit-linear-gradient(top, #9c56d6, #82c2ed);
    background: -moz-linear-gradient(top, #9c56d6, #82c2ed);
    background: -ms-linear-gradient(top, #9c56d6, #82c2ed);
    background: -o-linear-gradient(top, #9c56d6, #82c2ed);
    padding: 6px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #d9ce00;
    font-size: 18px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

#timer {
    color: red;
    font-size: 20px;
    background-color: lightgray;
}